.container {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 6px;
    padding: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.header-left, .header-right {
    flex: 1;
}

.input-screen {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}

.button-container {
    text-align: center;
    margin-top: 2rem;
}
